*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* border: solid black 2px;*/
}

body{
    font-family: system-ui, sans-serif;
}
.Header{
    background-color: rgb(139, 191, 252);
    padding: 2%;
}

.Header ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}


.Header ul .link{
    color: #000000;
    text-decoration: none;
    font-Weight: 600;
    font-size: 20px;
}

.Header ul .link.no0{
    font-size: 25px;
    Font-Weight: 900;
    Margin-right: auto
}

.Main{
    padding: 5%;
    height: 600px;
    gap:7%;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(330deg, rgb(20, 73, 134) 0%, rgb(18, 14, 121) 100%);
}
.content{
    Width: 50%;
    color:#ffffff;
    line-height: 1.5;
    flex: 1 1

}    
.Main .Maintext{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.download{
    background-color: rgb(139, 191, 252);
    color: #000000;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.image{
     align-self: center;
     flex-basis: 50%;
     margin-left: auto;
     margin-right: auto;
     flex: 1 1;
}

.imageflex{
    display: flex;
    flex-direction: column;
    }

 .imageflex.container{
    align-items: center;
    object-fit: contain;
}

.Main2{
    height: 400px;
}

.Main2 .content-2-container{
    background-color: white;
    width: 75%;
    height: 250px;
    margin: auto;
    margin-top: 3%;
    border-radius: 16px;
    box-shadow: 1px 0px 15px rgba(10, 10, 10, 0.219);
    display: flex;
    gap:8%;
    justify-content: center;
}

.content-textbox1,.content-textbox2,.content-textbox3{
    padding: 20px;
    width: 300px;
    text-align: center;
    font-size: 17px;
}

